body {
    margin-left: 10%;
}

#query {
    font-weight: bold;
    font-size: large;
    color: blue;
    margin-top: 5%;
}

.column {
    width: 100%;
}

.column1,
.column2,
.column3 {
    flex: 33.33%;
}

@media (min-width: 48em) {
    .columns {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
    }
}

#answers {
    line-height: 140%;
}